#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin: auto;
    align-content: center;
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 12px;
    border-radius: 5px;
    /*float: none;*/
}
#myForm{
  justify-content: center;
  align-items: center;
  text-align: center;
}
#myForm button{
  margin-left: 30px;
}